<div class="card">
  <div class="card-header">
    <h2>New patient</h2>
  </div>

  <div class="card-body">

    <!-- Login Form -->
    <div class="container">

      <form role="form" class="form-horizontal texto_destacado" method="POST" name="formRegistration"
            action="#">

        <!--Creamos un token para evitar ataques de tipo Cross-Site Request Forgery-->
        <!--Realmente crea un campo input oculto de tipo token que es su campo "value" guarda un string larguísimo-->
        <!--{{ csrf_field() }}-->


        <div class="form-group {{ $errors->has('firstname') ? ' has-error' : '' }}">
          <div class="col-sm-offset-2 col-md-8 input-group">
            <div class="input-group-addon col-md-1">
              <i class="fa fa-address-card"></i>
            </div>
            <input type="text" id="txt_user_firstname" class="form-control col-md-8" placeholder="First name" name="firstname" value="">
          </div>
          <div class="col-md-6">
          </div>
        </div>


        <div class="form-group {{ $errors->has('secondname') ? ' has-error' : '' }}">
          <div class="col-sm-offset-2 col-md-8 input-group">
            <div class="input-group-addon col-md-1">
              <i class="fa fa-address-card"></i>
            </div>
            <input type="text" id="txt_user_secondname" class="form-control col-md-8" placeholder="Middle name" name="secondname" value="">
          </div>
          <div class="col-md-6">
          </div>
        </div>


        <div class="form-group {{ $errors->has('lastname') ? ' has-error' : '' }}">
          <div class="col-sm-offset-2 col-md-8 input-group">
            <div class="input-group-addon col-md-1">
              <i class="fa fa-address-card"></i>
            </div>
            <input type="text" id="txt_user_lastname" class="form-control col-md-8" placeholder="Last name" name="lastname" value="">
          </div>
          <div class="col-md-6">
          </div>
        </div>


        <div class="form-group {{ $errors->has('gender') ? ' has-error' : '' }}">
          <!--<label id="lbl_user_gender" class="control-label col-sm-2" for="user_gender">Género:</label>-->
          <div class="col-md-8">
            <select id="slct_user_gender selectpicker" class="form-control col-md-9" name="gender" title="Escoja el sexo...">

              <option value="" selected disabled hidden>Chose the gender</option>

              <option value="male">&male; Male
              </option>

              <option value="female">&female; Female
              </option>

              <option value="female">&female; Other
              </option>


            </select>
          </div>
          <div class="col-md-6">
          </div>
        </div>


        <div class="form-group">
          <!--<label id="lbl_user_kind" class="control-label col-sm-2" for="user_kind">Tipo:</label>-->
          <div class="col-md-8">
            <select id="slct_user_kind" class="form-control col-md-9" name="profession_id" value="">

              <option value="" selected disabled hidden>Chose the facility</option>

              <% @facilities.each do |facility| %>
                <option value="<%= facility.id %>">
                  <%= facility.name %>
                </option>

              <% end %>
            </select>
          </div>
          <div class="col-md-6">
            <!-- ERRORES!-->
          </div>
        </div>


        <div class="form-group">
          <div class="col-sm-offset-2 col-md-8 input-group">
            <div class="input-group-addon col-md-1">
              <i class="fa fa-envelope"></i>
            </div>
            <input type="email" id="txt_user_email" class="form-control col-md-8" placeholder="Email" name="email" value="">
          </div>
          <div class="col-md-6">
          </div>

        </div>


        <div class="form-group {{ $errors->has('password') ? ' has-error' : '' }}">
          <div class="col-sm-offset-2 col-md-8 input-group">
            <div class="input-group-addon col-md-1">
              <i class="fa fa-key"></i>
            </div>
            <input type="password" id="txt_user_password1" class="form-control col-md-8" placeholder="Password" name="password" value="">
          </div>
          <div class="col-md-6">
          </div>
        </div>


        <div class="form-group {{ $errors->has('password_confirmation') ? ' has-error' : '' }}">
          <div class="col-sm-offset-2 col-md-8 input-group">
            <div class="input-group-addon col-md-1">
              <i class="fa fa-key"></i>
            </div>
            <input type="password" id="txt_user_password_confirmation" class="form-control col-md-8" placeholder="Retype your password" name="password_confirmation" value="">
          </div>
          <div class="col-md-6">
            <!--ERRORES-->
          </div>
        </div>


        <div class="form-group {{ $errors->has('phone') ? ' has-error' : '' }}">
          <div class="col-sm-offset-2 col-md-8 input-group">
            <div class="input-group-addon col-md-1">
              <i class="fa fa-phone"></i>
            </div>
            <input type="text" id="txt_user_phone" class="form-control col-md-8" placeholder="Teléfono" name="phone" maxlength="10" value="">
          </div>
          <div class="col-md-6">
            <!--ERRORES-->
          </div>
        </div>


        <input type="hidden" name="is_active" value="1">


        <div class="form-group {{ $errors->has('kind') ? ' has-error' : '' }}">
          <!--<label id="lbl_user_kind" class="control-label col-sm-2" for="user_kind">Tipo:</label>-->
          <div class="col-md-8">
            <select id="slct_user_kind" class="form-control col-md-9" name="kind">

              <option value="" selected disabled hidden>Escoja los privilegios</option>

              <option value="administrator">
                &#x265B;
                Administrador
              </option>

              <option value="operator">&#x265D;
                Operador
              </option>

              <option value="guest">&#x265F; Invitado
              </option>

            </select>
          </div>
          <div class="col-md-6">
            <!-- Errores!-->
          </div>
        </div>


        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">

            <button type="submit" id="btn_register" class="btn btn-default btn-success faa-parent animated-hover" name="register">
              <i class="fa fa-sign-in faa-horizontal fa-fast"></i>
              Registrarse
            </button>

            <button type="reset" id="btn_eraser" class="btn btn-default btn-secondary faa-parent animated-hover">
              <i class="fa fa-eraser faa-ring fa-fast"></i>
              Limpiar
            </button>

            <a href="#" id="a_cancel" class="btn btn-default btn-danger faa-parent animated-hover">
              <i class="fa fa-times faa-ring fa-fast"></i>
              Cancelar
            </a>

          </div>
        </div>


      </form>
    </div>
    <!-- / Login Form -->
  </div>
</div>