<!--<div class="card">-->


<!--Card-Body-->
<div class="card-body" style="padding: 0px">
  <div class="card" id="about">
    <div class="box">
      <div class="img">
        <!--          <img src="https://www.planwallpaper.com/static/images/cool-wallpaper-5_G6Qe1wU.jpg">-->
        <%#= image_tag 'reinier_400X400.jpg', width: '24px', height: '24px', class: 'fa faa-ring fa-slow' %>
        <%= image_tag 'reinier_400X400.jpg' %>
      </div>

      <h2>Reinier Garcia<br><span>Freelance Web Developer</span></h2>

      <p style="text-align: center">
        Highly focused and reliable, with an excellent learning
        capacity.
      </p>

      <span>
            <ul>
                <li><a href="https://www.facebook.com/reymillenium" target="_newtab"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/reymillenium" target="_newtab"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://plus.google.com/u/0/112366810047587750997" target="_newtab"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/reymillenium/" target="_newtab"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="http://reiniergarcia.com/en/index_page" target="_newtab"><i class="fa fa-link" aria-hidden="true"></i></a></li>
            </ul>
        </span>

      <br>
      <br>

      <a class="btn btn-default btn-danger faa-parent animated-hover" style="horiz-align: left" href="<%= patients_path %>">
        <i class="fa fa-arrow-left faa-horizontal fa-fast"></i>
        Go back
      </a>
    </div>


  </div>
</div>
<!--/Card-Body-->


<!--</div>-->







<!--<div class="card bg-light text-dark">-->

<!--  <div class="card-header" style="padding: 5px">-->
<!--    <h3 class="pb-1">Emergency Transfer Summary (Form 34L-D)</h3>-->
<!--  </div>-->




<!--  <div class="card-footer">-->
<!--    <p>-->

<!--      <a class="btn btn-default btn-danger faa-parent animated-hover" style="text-decoration: none;" href="<%#= patients_path %>">-->
<!--        <i class="fa fa-arrow-left faa-horizontal fa-fast"></i>-->
<!--        Go back-->
<!--      </a>-->

<!--      <button class="btn btn-default btn-info faa-parent animated-hover" style="text-decoration: none;" onclick="window.print()">-->
<!--        <i class="fa fa-print faa-horizontal fa-fast"></i>-->
<!--        &nbsp;&nbsp;Print&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--      </button>-->


<!--    </p>-->

<!--  </div>-->

<!--</div>-->