<h1>Mostrando la Image con id:<%= @image.id %></h1>

<div>

  <p>
    Ha sido almacenada una imagen con la descripción:
    <br>
    <%= @image.description %>
    <br>
    la cual posee <%= @image.likes_counter %> likes
  </p>

</div>



